version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: requestmart_app
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: requestmart_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: vishak@123
      MYSQL_DATABASE: products_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/products_db.sql:/docker-entrypoint-initdb.d/products_db.sql

volumes:
  db_data:
